:root{
--bluegreen: rgba(127, 255, 212, 0.644);
--charcoal: rgb(78, 78, 78);
}

*{
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--charcoal);
    padding: 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

nav{
    width: 50vw;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
}

nav ul li{
    font-size: 16pt;
    color: var(--bluegreen);
    border-bottom: 4px solid var(--bluegreen);
    margin: 1em;
    padding: 3px;
}

a{
    text-decoration: none;
}

header h1{
background-color: var(--bluegreen);
/* height: 5vh; */
height: fit-content;
padding: 3px 15px;
}

.hero-banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./banner.jpg");
    height: 20vh;
    background-size: cover;
    position: relative;
}

.hero-banner h2{
    color: var(--bluegreen);
    position: absolute;
    right: 10px;
    bottom: 10px;
}

